:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}



/* #search-container {
  padding: 30px 0px 20px 0px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: auto;
  margin: 10px;
} */

#search-bar {
  padding: 1em;
  margin: 10px 0px 5px 0px;
  position: static;
  height: 25px;
  width: 195px;
  border-radius: 3px;
  /* box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2); */
}

input#search-bar {
  font-size: 14px;
  height: 35px;
  /* background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png); */
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 40px;
  background-color: #fff;
  border: 1px solid #00000030;
}

a:hover {
  color: "black"
}

@font-face {
  font-family: "Family";   /*Can be any text*/
  src: local("Family"),
    url("./fonts/Family.ttf") format("truetype");
}

#success-thanks {
  font-family: "Family";
  font-size: 60px;
}

#nav-title {
  font-family: "Family";
  font-size: 40px;
}

.custom-dot-list-style {
  padding-bottom: 15px;
}

.category-links:visited,
.category-links {
  margin-left: 75px;
  margin-right: 75px;
  color: #F0EBE3;
}

.nav-link {
  border-bottom: solid;
}

#hi {
  margin-top: 10px;
}

.account-links:visited,
.account-links {
  margin-right: 20px;
  color: black;
}

